* {
    box-sizing: border-box;
}

html {
    background: ivory;
}

html,
body,
#root {
    width: 100vw;
    min-height: 100dvh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

canvas {
    touch-action: none;
}

.meshSection{
    width: 100vw;
    height: 150dvh;
    background-color: rgb(255, 166, 166);
    user-select: none;
}

.meshSection div{
    padding: 50px;
}
